<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Travel App - FEND Capstone Project</title>
  </head>

  <body>
    <header>
      <h1>Travel App - FEND Capstone Project</h1>
    </header>

    <main>
      <section id="search-section">
        <form id="search-form">
          <fieldset>
            <label for="trip-location-field">
              Where are you travelling to?
            </label>
            <input
              type="text"
              name="trip-location-field"
              id="trip-location-field"
              placeholder="Enter location name..."
            />
          </fieldset>

          <fieldset>
            <label id="trip-date-label" for="trip-date-field">
              Date of Departure
            </label>
            <input type="date" id="trip-date-field" />
          </fieldset>

          <fieldset>
            <label id="trip-end-label" for="trip-end-field">
              Date of Return
            </label>
            <input type="date" id="trip-end-field" />
          </fieldset>

          <div id="trip-buttons">
            <button id="trip-save-button" type="submit">Save trip</button>
            <button id="trip-reset-button" type="reset">Reset</button>
          </div>
        </form>
      </section>

      <section id="error-section">
        <h3>ERROR</h3>
        <p id="error-message">ERROR message here</p>
      </section>

      <section id="result-section">
        <h3>Your Trip</h3>
        <div id="trip-details">
          <div id="location-details">
            <div id="location-image">
              <img
                src="https://cdn.pixabay.com/photo/2013/10/15/09/12/flower-195893_1280.jpg"
                alt="location image"
              />
            </div>

            <div id="location-description">
              You are travelling to
              <div id="city-name">London</div>
              <div id="country-name">United Kingdom</div>
              <div>
                <span class="small-font">Depart on:</span>
                <span class="trip-date">22 Mar 2020</span>
              </div>
              <div>
                <span class="small-font">Return on:</span>
                <span class="trip-date">22 Mar 2020</span>
              </div>

              <div id="single-forecast">
                <div>
                  <span id="min-max">25/30</span><br />
                  <span class="small-font">Min/Max</span>
                </div>
                <div id="single-details">
                  <div>
                    <span class="small-font">Precipitation:</span>
                    <span id="precipitation">50%</span>
                  </div>
                  <div>
                    <span class="small-font">Humidity:</span>
                    <span id="humidity">50%</span>
                  </div>
                  <div>
                    <span class="small-font">Wind:</span>
                    <span id="wind">25 km/h</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="weekly-forecast">
            <div class="day-forecast">
              <div class="date">21 Mar</div>
              <div>
                <span class="day-min">25</span>
                <span class="day-max">28</span>
              </div>
            </div>
            <div class="day-forecast">
              <div class="date">21 Mar</div>
              <div>
                <span class="day-min">25</span>
                <span class="day-max">28</span>
              </div>
            </div>
            <div class="day-forecast">
              <div class="date">21 Mar</div>
              <div>
                <span class="day-min">25</span>
                <span class="day-max">28</span>
              </div>
            </div>
            <div class="day-forecast">
              <div class="date">21 Mar</div>
              <div>
                <span class="day-min">25</span>
                <span class="day-max">28</span>
              </div>
            </div>
            <div class="day-forecast">
              <div class="date">21 Mar</div>
              <div>
                <span class="day-min">25</span>
                <span class="day-max">28</span>
              </div>
            </div>
            <div class="day-forecast">
              <div class="date">21 Mar</div>
              <div>
                <span class="day-min">25</span>
                <span class="day-max">28</span>
              </div>
            </div>
            <div class="day-forecast">
              <div class="date">21 Mar</div>
              <div>
                <span class="day-min">25</span>
                <span class="day-max">28</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <p>A Udacity Front End Nanodegree Project.</p>
    </footer>

    <!-- service worker script -->
    <!-- <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script> -->
  </body>
</html>
