<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Travel App - FEND Capstone Project</title>
  </head>

  <body>
    <header>
      <h1>Travel App - FEND Capstone Project</h1>
    </header>

    <main>
      <section id="search-section">
        <form id="search-form">
          <fieldset>
            <label for="trip-location-field">
              Where are you travelling to?
            </label>
            <input
              type="text"
              name="trip-location-field"
              id="trip-location-field"
              placeholder="Enter location name..."
            />
          </fieldset>

          <fieldset>
            <label id="trip-date-label" for="trip-date-field">
              Date of Departure
            </label>
            <input type="date" id="trip-date-field" />
          </fieldset>

          <fieldset>
            <label id="trip-end-label" for="trip-end-field">
              Date of Arrival
            </label>
            <input type="date" id="trip-end-field" />
          </fieldset>

          <div id="trip-buttons">
            <button id="trip-save-button" type="submit">Save trip</button>
            <button id="trip-reset-button" type="reset">Reset</button>
          </div>
        </form>
      </section>

      <section id="error-section">
        <h3>ERROR</h3>
        <p id="error-message">ERROR message here</p>
      </section>

      <section id="result-section">
        <h3>Your Trips</h3>
        <div id="trip-details"></div>
      </section>
    </main>

    <footer>
      <p>A Udacity Front End Nanodegree Project.</p>
    </footer>

    <!-- service worker script -->
    <!-- <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script> -->
  </body>
</html>
