main {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-size: 200%;
  text-align: center;
  padding: 10px;
}

form {
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 20px;

  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}

.text-results {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.url-results {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.result-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    color: red;
  }

  .result-value {
    font-size: 250%;
  }
}

#error-section {
  display: none;
  padding: 20px;
  margin: 20px;
  background-color: #ffc7c7;
  text-align: center;
}

#result-section {
  display: none;
  background-color: rgb(255, 223, 187);
  text-align: center;
  padding: 20px;
}

#trip-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.small-font {
  font-size: 75%;
}

#location-details {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-evenly;
  // align-items: center;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 10px;

  img {
    width: 100%;
  }

  #city-name {
    font-size: 175%;
  }

  #country-name {
    font-size: 150%;
  }

  .trip-date {
    font-size: 110%;
  }
}

#single-forecast {
  padding: 2%;
  display: grid;
  grid-template-columns: 50% 50%;
}

#multi-forecast {
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  .day-forecast {
    margin: 2.5px;
    border: solid;
    padding: 5px;
  }

  .date {
    font-size: 60%;
  }

  .day-min {
    font-size: 110%;
    color: rgb(126, 126, 126);
  }

  .day-max {
    font-size: 150%;
  }
}
