header {
  display: flex;
  justify-content: space-around;
  text-align: center;

  overflow: hidden;
  background-color: #bababa;
  transition-duration: 0.4s;
  padding: 20px 10px;
  color: red;

  h1 {
    size: 250%;
  }

  &:hover {
    background-color: rgb(230, 230, 230);
    color: black;
  }
}
