header {
  display: flex;
  justify-content: space-around;
  text-align: center;

  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;

  h1 {
    color: red;
    size: 150%;
  }

  &:hover {
    background-color: #ddd;
    color: black;
  }
}

header {
}
