header {
  display: flex;
  justify-content: space-around;
  text-align: center;

  overflow: hidden;
  background-color: #838383;
  transition-duration: 0.4s;
  padding: 20px 10px;
  color: rgb(241, 241, 241);

  h1 {
    size: 250%;
  }

  &:hover {
    background-color: rgb(230, 230, 230);
    color: rgb(255, 72, 72);
  }
}
